@import './base.css';

#app {
  padding-top: 3rem;
  width: 40%;
}

@media only screen and (max-width: 459px ) {
  #app {
    width: 90%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
